Package: com.four.poweropts
Name: PowerOptions
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: When you “slide to power off” it shows an alert that allows you to pick whether you want to respiring normally or into safe mode.
Maintainer: Jack Maloney <jmmaloney4@gmail.com>
Author: Jack Maloney <jmmaloney4@gmail.com>
Section: Tweaks
Version: 1.0.0-2
Installed-Size: 88
