Package: com.yourcompany.objectctest
Name: objectctest
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: Tweaks
