Package: com.yourcompany.reboot
Name: reboot
Depends: 
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: System
Tag: role::hacker
Version: 0.0.1-3
Installed-Size: 52
