Package: com.yourcompany.teststoryboard
Name: teststoryboard
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: Utilities
