Package: com.yourcompany.teststoryboard
Name: teststoryboard
Depends: 
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: Utilities
Version: 0.0.1-8
Installed-Size: 200
