Package: com.four.noheadphoneview
Name: noheadphoneview
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disables the headphone volume HUD view
Maintainer: Jack Maloney <jmmaloney4@gmail.com>
Author: Jack Maloney <jmmaloney4@gmail.com>
Section: Tweaks
Version: 0.0.1-4
Installed-Size: 16
