Package: com.four.vibrateunlock
Name: vibrate_unlock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: Tweaks
