Package: com.four.workspace
Name: workspace
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jack Maloney
Author: Jack Maloney
Section: Tweaks
Version: 0.0.1-19
Installed-Size: 88
